.name123 {
   }

a {
    color: red;
    font-size: 50px;
    font-style: italic;
    text-decoration: none;
    display: block;
}

h1 {
    color: red;
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
    display: block;
}

