<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration user</title>
</head>
<body>
<form th:action="@{/add-user}" th:object="${userDto}" method="post">
    <span>Registration</span>
    <br>

    <br>
    <div>
        <span>First Name</span>
        <br>
        <input type="text" th:field="*{firstName}">
    </div>

    <br>
    <div>
        <span>Second Name</span>
        <br>
        <input type="text" th:field="*{secondName}">
    </div>

    <br>
    <div>
        <span>Passport Number</span>
        <br>
        <input type="text" th:field="*{passportNumber}">
    </div>

    <br>
    <div>
        <span>Telephone</span>
        <br>
        <input type="text" th:field="*{telephone}">
    </div>

    <br>
    <div>
        <span>Email</span>
        <br>
        <input type="text" th:field="*{email}">
    </div>

    <br>
    <div>
        <span>Password</span>
        <br>
        <input type="text" th:field="*{password}">
    </div>

    <br>
    <div>
        <input type="submit" value="Registration">
    </div>
</form>

</body>
</html>