<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:fragment="home">
    <div th:id="wrapper">

        <div th:id="line-vertical"></div>
        <div th:id="line-vertiacal-wrapper"></div>
        <div th:insert="~{fragments::header}"></div>
        <div th:insert="~{fragments::aside}">
        </div>

        <form th:action="@{/add-order}" th:object="${orderRentalCarDto}" method="post">
            <section th:id="section">
                <div th:id="section-block">
                    <div th:id="form-add">

                        <span th:text="#{car}"></span>

                        <div>
                            <select th:field="*{id}">
                                <option th:each="car: ${cars}"
                                        th:value="${car.brandCar.getBrand()}">
                                    <span th:text="${car.getBrandCar().brand}"></span>
                                    <span th:text="${car.getModel()}"></span>
                                    <span th:text="${car.getVinNumber()}"></span>
                                </option>
                            </select>
                        </div>


                        <div th:each="transmission:${transmissions}">
                            <span th:text="${transmission}">AKPP</span>
                            <input type="radio" name="Transmission" th:value="${transmission}">
                        </div>

                        <div>
                            <span th:text="#{additional.service.service}">Class</span>
                            <br>
                            <div th:each="additionalService:${additionalServices}">
                                <span th:text="${additionalService.getServices()}"></span>
                                <span th:text="${additionalService.getCost()}"></span>
                                <input type="radio" th:value="${additionalService.getId()}">
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </form>

        <div th:insert="~{fragments::footer}"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>