<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add brand car</title>
</head>
<body>
<div class="container">
    <div th:insert="~{fragments::language}">
    </div>
    <form th:action="@{/brand}" th:object="${brandDto}" method="post">
        <div>
            <span th:text="#{car.brand}">Brand</span>
            <br>
            <input type="text" th:field="*{brand}">
        </div>
        <div>
            <input type="submit" th:value="#{save.object}">
        </div>
    </form>
</div>
</body>
</html>