<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/addCars.html}" th:object="${carDto}" method="post">
    <span>Brand</span>
    <div>
        <select th:field="*{brandCar}">
            <option th:each="brand: ${brandCars}"
                    th:value="${brand.getId()}"
                    th:text="${brand.getBrand()}">
        </select>
    </div>

    <br>
    <div>
        <span>Model</span>
        <br>
        <input type="text" th:field="*{modelCar}">
    </div>

    <br>
    <div>
        <span>Vin number</span>
        <br>
        <input type="text" th:field="*{vinNumber}">
    </div>

    <br>
    <span>Class</span>
    <div>
        <select th:field="*{classCar}">
            <option th:each="class: ${carClass}"
                    th:value="${class}"
                    th:text="${class}"></option>
        </select>
    </div>

    <br>
    <span>Transmission</span>
    <div th:each="transmission:${transmissions}">
        <span th:text="${transmission}">AKPP</span>
        <input type="radio" name="Transmission" th:value="${transmission}">
    </div>

    <br>
    <div>
        <span>Cost</span>
        <br>
        <input type="text" th:field="*{costRentalOfDay}">
    </div>

    <br>
    <div>
        <span>Year of issue</span>
        <br>
        <input type="text" th:field="*{yearOfIssue}">
    </div>

    <br>
    <div>
        <input type="submit" value="Save">
    </div>
</form>

</body>
</html>