<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ListCars</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:id="wrapper">
        <div th:id="line-vertical"></div>
        <div th:id="line-vertiacal-wrapper"></div>

        <div th:insert="~{fragments::header}"></div>
        <div th:insert="~{fragments::aside}"></div>

        <section th:id="section">
            <div th:id="section-block">
                <span th:text="#{list.black.user}"></span><br>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col" th:text="#{first.name}"></th>
                        <th scope="col" th:text="#{second.name}"></th>
                        <th scope="col" th:text="#{black.list.cause}"></th>
                        <th scope="col" th:text="#{black.list.cause}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="blackList,iterStat:${pageBlackListUser}">
                        <th scope="row" th:text="${iterStat.count}"></th>
                        <td th:text="${blackList.userService.firstName}"></td>
                        <td th:text="${blackList.userService.secondName}"></td>
                        <td th:text="${blackList.cause}"></td>
                        <td><a th:href="@{/delete-user-blacklist(id=${blackList.getId()})}" th:text="#{delete.user}"></a></td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item d-flex justify-content-center">
                            <div th:if="${pageBlackListUser.totalPages > 0}"
                                 th:each="pageNumber:${pageNumbers}">
                                <a class="page-link" th:href="@{/black-list-user(size=${pageBlackListUser.size}, page=${pageNumber})}"
                                   th:text="${pageNumber}"
                                   th:class="${pageNumber==pageBlackListUser.number+1}?active"></a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>

        <div th:insert="~{fragments::footer}"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>