<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>

<div>
    <span>Car</span><br>
    <span>Brand</span> <span th:text="${carDto.brandCar}"></span><br>
    <span>Model</span> <span th:text="${carDto.modelCar}"></span><br>
    <span>VinNumber</span> <span th:text="${carDto.vinNumber}"></span><br>
    <span>Class</span> <span th:text="${carDto.classCar}"></span><br>
    <span>Year of issue</span> <span th:text="${carDto.yearOfIssue}"></span><br>
    <span>Cost Rental Of Day</span> <span th:text="${carDto.costRentalOfDay}"></span>
</div>
</body>
</html>