<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ListOrder</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:id="wrapper">
    <div th:id="line-vertical"></div>
    <div th:id="line-vertiacal-wrapper"></div>

    <div th:insert="~{fragments::header}"></div>
    <div th:insert="~{fragments::aside}"></div>

    <section th:id="section">
        <div th:id="section-block">
            <div th:id="form-add">

                <span th:text="#{list.order}"></span><br>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col" th:text="#{first.name}"></th>
                        <th scope="col" th:text="#{car.brand}"></th>
                        <th scope="col" th:text="#{additional.equipment}"></th>
                        <th scope="col" th:text="#{order.dateStartRental}"></th>
                        <th scope="col" th:text="#{order.dateFinishRental}"></th>
                        <th scope="col" th:text="#{order.cost}"></th>
                        <th scope="col" th:text="#{order.status}"></th>
                        <th scope="col" th:text="#{note}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="order,iterStat:${pageOrdersRentalCarDto}">
                        <th scope="row" th:text="${iterStat.count}"></th>

                        <td th:text="${order.getFirstName()}"></td>
                        <td th:text="${order.getBrandCar()}"></td>
                        <td th:text="${order.getServices()}"></td>
                        <td th:text="${order.getStartRentalCar()}"></td>
                        <td th:text="${order.getFinishRentalCar()}"></td>
                        <td th:text="${order.getCostOrder()}"></td>
                        <td th:text="${order.getStatusOrder()}"></td>
                        <td><a th:href="@{/update-order(id=${order.getId()})}" th:text="#{order.edit}"></a></td>
                        <td><a th:href="@{/delete-order(id=${order.getId()})}" th:text="#{delete.order}"></a></td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item d-flex justify-content-center">
                            <div th:if="${pageOrdersRentalCarDto.totalPages > 0}"
                                 th:each="pageNumber:${pageNumbers}">
                                <a class="page-link"
                                   th:href="@{/orders.html(size=${pageOrdersRentalCarDto.size}, page=${pageNumber})}"
                                   th:text="${pageNumber}"
                                   th:class="${pageNumber==pageOrdersRentalCarDto.number+1}?active"></a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <div th:insert="~{fragments::footer}"></div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>