<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:fragment="home">
    <div th:id="wrapper">

        <div th:id="line-vertical"></div>
        <div th:id="line-vertiacal-wrapper"></div>
        <div th:insert="~{fragments::header}"></div>
        <div th:insert="~{fragments::aside}"></div>
        <section th:id="section">
            <div th:id="section-block">
                <div th:id="form-add">
                    <span th:text="#{order}"></span><br>
                    <span th:text="#{first.name}"></span> <span
                        th:text="${orderRentalCarDto.getFirstName()}"></span><br>
                    <span th:text="#{second.name}"></span> <span
                        th:text="${orderRentalCarDto.getSecondName()}"></span><br>
                    <span th:text="#{passport.number}"></span> <span
                        th:text="${orderRentalCarDto.getPassportNumber()}"></span><br>
                    <span th:text="#{car.brand}"></span> <span th:text="${orderRentalCarDto.getBrandCar()}"></span><br>
                    <span th:text="#{car.model}"></span> <span th:text="${orderRentalCarDto.getModelCar()}"></span><br>
                    <span th:text="#{car.vinNumber}"></span> <span th:text="${orderRentalCarDto.getVinNumber()}"></span><br>
                    <span th:text="#{car.costRentalOfDay}"></span> <span
                        th:text="${orderRentalCarDto.getCostCar()}"></span><br>
                    <span th:text="#{additional.service.service}"></span> <span
                        th:text="${orderRentalCarDto.getAdditionalService().getServices()}"></span><br>
                    <span th:text="#{additional.service.cost}"></span> <span
                        th:text="${orderRentalCarDto.getAdditionalService().getCost()}"></span><br>
                    <span th:text="#{order.dateStartRental}"></span> <span
                        th:text="${orderRentalCarDto.getStartRentalCar()}"></span><br>
                    <span th:text="#{order.dateFinishRental}"></span> <span
                        th:text="${orderRentalCarDto.getFinishRentalCar()}"></span><br>
                    <span th:text="#{order.cost}"></span> <span
                        th:text="${orderRentalCarDto.getCostCar()+orderRentalCarDto.getCostAdditionalService()}"></span><br>
                    <span th:text="#{order.status}"></span> <span
                        th:text="${orderRentalCarDto.getStatusOrder()}"></span><br>
                </div>
            </div>
        </section>

        <div th:insert="~{fragments::footer}"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>