<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<div>
    <span>User</span><br>
    <span>First name</span> <span th:text="${userDto.firstName}"></span><br>
    <span>Second name</span> <span th:text="${userDto.secondName}"></span><br>
    <span>Passport Number</span> <span th:text="${userDto.passportNumber}"></span><br>
    <span>Telephone</span> <span th:text="${userDto.telephone}"></span><br>
    <span>Email</span> <span th:text="${userDto.email}"></span><br>
</div>
</body>
</html>